body {
    background-color: #FFFDDE;
    font-family: 'Roboto', sans-serif;
}

#NavBar {
    
    background-color: #D9D7F1;
}

.nav-item {
    padding-top: 10px;
}

.nav-link {
    color: #FFFDDE;
    text-shadow: 1px 1px 2px black;
}


section {
    background-color: #FFFDDE;
}

.footer {
    background-color: #D9D7F1;
}

#btnMsg {
    background-color: #FFFDDE;
}

i {
    color: #FFFDDE;
}

#container{
    display: flex;
    justify-content: space-around;

}

#recode{
    display: block;
	margin: 0 auto;
}
