body {
    background-color: #FFFDDE;
    font-family: 'Roboto', sans-serif;
}

#NavBar {
    background-color: #D9D7F1;
}

.nav-item {
    padding-top: 10px;
}

.nav-link {
    color: #FFFDDE;
    text-shadow: 1px 1px 2px black;
}


section {
    background-color: #FFFDDE;
    height: 45vh;
}

.mb-3 {
    color: #b3d2e8;
    border-radius: 100px;
    margin: 0 auto;
    max-width: 100vh;
    position: relative;

}

.form {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.footer {
    background-color: #D9D7F1;
}

#btnFooter {
    background-color: #FFFDDE;
}

i {
    color: #FFFDDE;
}
