body {
    background-color: #FFFDDE;
    font-family: 'Roboto', sans-serif;
}

#NavBar {
    height: 4rem;
    background-color: #D9D7F1;
}

.nav-item {
    padding-top: 10px;
}

.nav-link {
    color: #FFFDDE;
    text-shadow: 1px 1px 2px black;
}


section {
    background-color: #FFFDDE;
}
.footer {
    background-color: #D9D7F1;
}

.titleli {
    background-color: #f5c7f3;
    color: #685ed5;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 15px 10px #b3d2e8;
}

.container_nv {

    background-color: #e24fb6;
    max-height: 80vh;
    position: relative;
}

.elemento {

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    

}

.containerint {
    background-color: white;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.58);
    border-radius: 16px;
    margin-top: 50px;
    margin-bottom: 50px
}

.card {
    border: none
}

.profile img {
    width: 68px;
    height: 68px;
    border-radius: 50%
}

.second {
    border-left: 2px dotted lightgrey;
    border-right: 2px dotted lightgrey
}

@media only screen and (max-width: 600px) {
    .second {
        border: none;
        border-top: 2px dotted lightgrey;
        margin-top: 25px
    }

    .third {
        border-top: 2px dotted lightgrey;
        margin-top: 25px
    }

    .icon {
        margin-top: 20px;
        top: 0
    }
}

.fa-quote-left:before {
    font-size: 7px;
    color: orangered;
    position: relative;
    bottom: 5px
}

.intro {
    font-size: 11px;
    margin-left: 13px;
    position: relative;
    bottom: 8px
}

.row {
    padding-bottom: 53px
}

.company {
    position: absolute;
    bottom: -42px
}

.fa-amazon:before {
    content: "\f270";
    font-size: 23px
}

.icon {
    margin-bottom: 15px;
    position: relative;
    bottom: 20px
}

.header {
    padding-top: 35px;
    padding-bottom: 50px
}